<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}}} -->
<main class="wp-block-group"><!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"0vw","bottom":"0vw"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px;padding-top:0vw;padding-bottom:0vw"><!-- wp:cover {"url":"https://keshavnaithani2.files.wordpress.com/2023/10/banner-935470_1920-1.jpg","id":11,"dimRatio":20,"overlayColor":"black","isUserOverlayColor":true,"minHeight":75,"minHeightUnit":"vh","isDark":false,"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
<div class="wp-block-cover alignfull is-light" style="padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--50);min-height:75vh"><span aria-hidden="true" class="wp-block-cover__background has-black-background-color has-background-dim-20 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-11" alt="" src="https://keshavnaithani2.files.wordpress.com/2023/10/banner-935470_1920-1.jpg" data-object-fit="cover" /><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"blockGap":"var:preset|spacing|40"}},"textColor":"white","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group has-white-color has-text-color has-link-color"><!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"top":"0px"}}},"fontSize":"xxx-large"} -->
<h2 class="wp-block-heading has-text-align-center has-xxx-large-font-size" style="margin-top:0px">Welcome to f4 Marketplace</h2>
<!-- /wp:heading -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"></div>
<!-- /wp:buttons -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Where Creativity Meets Strategy, and Success Finds a Home!</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"blockGap":"var:preset|spacing|60"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--50)"><!-- wp:heading {"align":"wide"} -->
<h2 class="wp-block-heading alignwide">Our services</h2>
<!-- /wp:heading -->

<!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}}} -->
<div class="wp-block-column"><!-- wp:image {"id":12,"aspectRatio":"1","scale":"cover","sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="https://keshavnaithani2.files.wordpress.com/2023/10/social-media-5187243_1920.png" alt="" class="wp-image-12" style="aspect-ratio:1;object-fit:cover" /></figure>
<!-- /wp:image -->

<!-- wp:heading {"fontSize":"medium"} -->
<h2 class="wp-block-heading has-medium-font-size">Social Media Marketing</h2>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}}} -->
<div class="wp-block-column"><!-- wp:image {"id":13,"aspectRatio":"1","scale":"cover","sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="https://keshavnaithani2.files.wordpress.com/2023/10/web-design-3411373_1920.jpg" alt="" class="wp-image-13" style="aspect-ratio:1;object-fit:cover" /></figure>
<!-- /wp:image -->

<!-- wp:heading {"fontSize":"medium"} -->
<h2 class="wp-block-heading has-medium-font-size">Web Development</h2>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}}} -->
<div class="wp-block-column"><!-- wp:image {"id":14,"aspectRatio":"1","scale":"cover","sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://keshavnaithani2.files.wordpress.com/2023/10/woman-5579998_1920.png?w=1024" alt="" class="wp-image-14" style="aspect-ratio:1;object-fit:cover" /></figure>
<!-- /wp:image -->

<!-- wp:heading {"fontSize":"medium"} -->
<h2 class="wp-block-heading has-medium-font-size">SEO</h2>
<!-- /wp:heading --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}}} -->
<div class="wp-block-column"><!-- wp:image {"id":15,"aspectRatio":"1","scale":"cover","sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="https://keshavnaithani2.files.wordpress.com/2023/10/background-3249063_1920.png" alt="" class="wp-image-15" style="aspect-ratio:1;object-fit:cover" /></figure>
<!-- /wp:image -->

<!-- wp:heading {"fontSize":"medium"} -->
<h2 class="wp-block-heading has-medium-font-size">Photography/Editing</h2>
<!-- /wp:heading --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"margin":{"top":"0px","bottom":"0px"},"blockGap":"var:preset|spacing|60"},"elements":{"link":{"color":{"text":"#0d1f3a"}}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-link-color" style="margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--50)"><!-- wp:heading {"align":"wide","style":{"typography":{"lineHeight":1.2}}} -->
<h2 class="wp-block-heading alignwide" style="line-height:1.2">Why choose us</h2>
<!-- /wp:heading -->

<!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"style":{"spacing":{"blockGap":"16px"}}} -->
<div class="wp-block-column"><!-- wp:image {"id":19,"width":"384px","height":"auto","sizeSlug":"large","linkDestination":"custom"} -->
<figure class="wp-block-image size-large is-resized"><img src="https://keshavnaithani2.files.wordpress.com/2023/10/idea-2558678_1920.jpg?w=1024" alt="" class="wp-image-19" style="width:384px;height:auto" /></figure>
<!-- /wp:image -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"19px","lineHeight":1.7}}} -->
<p style="font-size:19px;line-height:1.7"><strong><strong>Creative Excellence</strong></strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"16px","lineHeight":"1.7"}}} -->
<p style="font-size:16px;line-height:1.7">Creativity is at the heart of everything we do. Our talented team of designers, writers, and content creators work collaboratively to produce eye-catching, engaging, and compelling content that captivates your target audience.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"blockGap":"16px"}}} -->
<div class="wp-block-column"><!-- wp:image {"id":17,"sizeSlug":"large","linkDestination":"custom"} -->
<figure class="wp-block-image size-large"><img src="https://keshavnaithani2.files.wordpress.com/2023/10/computer-6107592_1920.png?w=1024" alt="" class="wp-image-17" /></figure>
<!-- /wp:image -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"19px","lineHeight":"1.7"}}} -->
<p style="font-size:19px;line-height:1.7"><strong><strong>Data-Driven Insights</strong></strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Our approach is driven by data and analytics. We don't make decisions based on hunches; we rely on comprehensive data analysis to continually optimize your marketing campaigns, ensuring they yield the best possible outcomes.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"blockGap":"16px"}}} -->
<div class="wp-block-column"><!-- wp:image {"id":18,"sizeSlug":"large","linkDestination":"custom"} -->
<figure class="wp-block-image size-large"><img src="https://keshavnaithani2.files.wordpress.com/2023/10/success-2081167_1920.jpg?w=1024" alt="" class="wp-image-18" /></figure>
<!-- /wp:image -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"19px","lineHeight":"1.7"}}} -->
<p style="font-size:19px;line-height:1.7"><strong><strong>Tailored Strategies</strong></strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"16px","lineHeight":"1.7"}}} -->
<p style="font-size:16px;line-height:1.7">We don't believe in one-size-fits-all solutions. Every client is unique, and so are their marketing needs. Our strategies are custom-tailored to your specific goals, ensuring that you receive a personalized approach that maximizes your ROI.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"elements":{"link":{"color":{"text":"var:preset|color|background"}}},"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"backgroundColor":"primary","textColor":"background","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-background-color has-primary-background-color has-text-color has-background has-link-color" style="padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--50)"><!-- wp:heading {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|background"}}}},"textColor":"background"} -->
<h2 class="wp-block-heading has-text-align-center has-background-color has-text-color has-link-color">Let's make something together</h2>
<!-- /wp:heading -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button">Get a quote</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->